<a href="https://colab.research.google.com/github/martin259/DataScience/blob/main/naivebayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as nm
import matplotlib.pyplot as plt

In [16]:
dataset=pd.read_csv('iris.csv')

In [18]:
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [19]:
X = dataset.iloc[:,:4].values
y = dataset['species'].values

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [44]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [45]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [48]:
y_pred = classifier.predict(X_test) 
y_pred

array(['versicolor', 'virginica', 'versicolor', 'versicolor', 'virginica',
       'setosa', 'virginica', 'setosa', 'virginica', 'versicolor',
       'versicolor', 'setosa', 'versicolor', 'setosa', 'virginica',
       'setosa', 'virginica', 'virginica', 'virginica', 'setosa',
       'versicolor', 'setosa', 'setosa', 'setosa', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'setosa'],
      dtype='<U10')

In [49]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  0.9666666666666667

array([[10,  0,  0],
       [ 0,  7,  1],
       [ 0,  0, 12]])

In [50]:
df = pd.DataFrame({'Real Values':y_test,'Predicted Values':y_pred})
df

   Real Values Predicted Values
0   versicolor       versicolor
1    virginica        virginica
2   versicolor       versicolor
3   versicolor       versicolor
4    virginica        virginica
5       setosa           setosa
6    virginica        virginica
7       setosa           setosa
8    virginica        virginica
9   versicolor       versicolor
10  versicolor       versicolor
11      setosa           setosa
12  versicolor       versicolor
13      setosa           setosa
14   virginica        virginica
15      setosa           setosa
16   virginica        virginica
17   virginica        virginica
18   virginica        virginica
19      setosa           setosa
20  versicolor       versicolor
21      setosa           setosa
22      setosa           setosa
23      setosa           setosa
24   virginica        virginica
25   virginica        virginica
26   virginica        virginica
27   virginica        virginica
28  versicolor        virginica
29      setosa           setosa